.subMenuListOfFirstMenu {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr)) !important;
    max-width: 100% !important;
    gap: 1rem;
}

.subMenuListOfFirstMenu li {
    border: 1px solid #6d6d6d;
}

.subMenuListOfFirstMenu .submenu-list__item {
    padding: 0 !important;
    margin: 0 !important;
}

/* WHat we do  */
.header__list-item .submenu-wrapper {
    min-height: 115vh;
}

.submenu-content__link-img img {
    min-width: 100%;
    max-height: 150px;
}

.subMenuOfMegaMenuOfResources {
    display: none;
    /* background: red; */
    margin-top: -27px;
    width: 100vw;
}

.menuWrapper {
    position: relative;
    display: inline-block;
}

.subMenuOfMegaMenuOfResources {
    display: none;
    top: 100%;
    /* positions below the parent */
    left: 0;
    z-index: 10;
}

.menuWrapper:hover .subMenuOfMegaMenuOfResources {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(310px, 100%), 1fr));
}

/* --  */
/* PUBLICATION  */
.PublicationMenuParent {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.PublicationMenuParent ul li {
    border:1px solid #6d6d6d;
}

.mthere {
    margin-top: 20px;
}
.header__list li a span, .header__list li a, .header__buttons-wrapper a span{
    color: white;
}
