.subMenuListOfFirstMenu {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr)) !important;
    max-width: 100% !important;
    gap: 1rem;
}

.subMenuListOfFirstMenu li {
    /* border: 1px solid #6d6d6d; */
}

.subMenuListOfFirstMenu .submenu-list__item {
    padding: 0 !important;
    margin: 0 !important;
}

.subMenuOfMegaMenuOfResources {
    gap: 8px;
    padding: 12px 0;
}

/* WHat we do  */
.header__list-item .submenu-wrapper {
    min-height: 115vh;
}

.submenu-content__link-img img {
    min-width: 100%;
    max-height: 150px;
}

.subMenuOfMegaMenuOfResources {
    display: none;
    /* background: red; */
    margin-top: -27px;
    width: 100vw;
}

.menuWrapper {
    position: relative;
    display: inline-block;
}

.subMenuOfMegaMenuOfResources {
    display: none;
    top: 100%;
    /* positions below the parent */
    left: 0;
    z-index: 10;
}

.menuWrapper:hover .subMenuOfMegaMenuOfResources {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(310px, 100%), 1fr));
}

/* --  */
/* PUBLICATION  */
.PublicationMenuParent {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.PublicationMenuParent ul li {
    /* border:1px solid #6d6d6d; */
}

.mthere {
    margin-top: 20px;
}

.header__list li a span,
.header__list li a,
.header__buttons-wrapper a span {
    color: rgb(0, 0, 0) !important;
    font-weight: 600;
}

.menuIconOfMegaMenu {
    width: 50px;
    border-radius: 7px;
}

.sideBarMenu ul a {
    color: blue;
    transition: .2s eas;
}

.sideBarMenu ul a {
    color: blue;
    transition: .2s ease-in-out;
}

.sideBarMenu ul a:hover {
    color: rgb(37, 18, 115);
    scale: 1.07;
}

.sideBarMenuParent {
    font-weight: 600;
}

.sideBarMenuMainParent {
    background: linear-gradient(to right, grey, transparent);
}

/* WHAT WE DO SEC */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.containerOfWHatwedoSec {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    gap: 30px;
    padding: 30px 20px;
    background: linear-gradient(90deg, #161a42eb 20%, #000000ab 80%);
}


.content1,
.content2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.content1 {
    flex: 1;
}

.content2 {
    flex: 2;
}

.itemOfWHatwedoSec {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 30px;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: linear-gradient(90deg, #161a42eb 20%, #000000ab 80%);
    color: white;
    user-select: none;
    transition: .3s ease-in-out;
}

.itemOfWHatwedoSec:hover {
    scale: 1.04;
}

.itemOfWHatwedoSec {
    flex: 2;
}

.itemOfWHatwedoSec {
    flex: 3;
}


.subcontainerOfWHatwedoSec1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 3;
}

.subcontainerOfWHatwedoSec2 {
    display: flex;
    flex: 1;
}

.con1,
.con2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 30px;
}

.itemOfWHatwedoSec3,
.itemOfWHatwedoSec6 {
    flex: 4;
}

.itemOfWHatwedoSec4,
.itemOfWHatwedoSec5 {
    flex: 2;
}

.itemOfWHatwedoSec7 {
    flex: 100%;
}


.img_name_post {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.img_name_post img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.img_name_post .name_post h3 {
    font-size: 27px;
    font-weight: 400;
    line-height: 35px;
    white-space: nowrap;
}

.img_name_post .name_post p {
    font-size: 22px;
    font-weight: 300;
    white-space: nowrap;
}

h4 {
    margin-top: 9px;
    font-size: 19px !important;
    line-height: 27px;
    font-weight: 600;
}

.text {
    margin-top: 15px;
    font-size: 16px;
}

/* WHAT WE DO SEC END */