.subMenuListOfFirstMenu {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr)) !important;
    max-width: 100% !important;
    gap: 1rem;
}

.subMenuListOfFirstMenu li {
    /* border: 1px solid #6d6d6d; */
}

.subMenuListOfFirstMenu .submenu-list__item {
    padding: 0 !important;
    margin: 0 !important;
}

.subMenuOfMegaMenuOfResources {
    gap: 8px;
    padding: 12px 0;
}

/* WHat we do  */
.header__list-item .submenu-wrapper {
    min-height: 115vh;
}

.submenu-content__link-img img {
    min-width: 100%;
    max-height: 150px;
}

.subMenuOfMegaMenuOfResources {
    display: none;
    /* background: red; */
    margin-top: -27px;
    width: 100vw;
}

.menuWrapper {
    position: relative;
    display: inline-block;
}

.subMenuOfMegaMenuOfResources {
    display: none;
    top: 100%;
    /* positions below the parent */
    left: 0;
    z-index: 10;
}

.menuWrapper:hover .subMenuOfMegaMenuOfResources {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(310px, 100%), 1fr));
}

/* --  */
/* PUBLICATION  */
.PublicationMenuParent {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.PublicationMenuParent ul li {
    /* border:1px solid #6d6d6d; */
}

.mthere {
    margin-top: 20px;
}

.header__list li a span,
.header__list li a,
.header__buttons-wrapper a span {
    color: rgb(0, 0, 0) !important;
    font-weight: 600;
}

.menuIconOfMegaMenu {
    width: 50px;
    border-radius: 7px;
}

.sideBarMenu ul a {
    color: blue;
    transition: .2s eas;
}

.sideBarMenu ul a {
    color: blue;
    transition: .2s ease-in-out;
}

.sideBarMenu ul a:hover {
    color: rgb(37, 18, 115);
    scale: 1.07;
}

.sideBarMenuParent {
    font-weight: 600;
}

.sideBarMenuMainParent {
    background: linear-gradient(to right, grey, transparent);
}

/* WHAT WE DO SEC */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.containerOfWHatwedoSec {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    gap: 30px;
    padding: 30px 20px;
    background: linear-gradient(90deg, #161a42eb 20%, #000000ab 80%);
}


.content1,
.content2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.content1 {
    flex: 1;
}

.content2 {
    flex: 2;
}

.itemOfWHatwedoSec {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 30px;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: linear-gradient(90deg, #161a42eb 20%, #000000ab 80%);
    color: white;
    user-select: none;
    transition: .3s ease-in-out;
}

.itemOfWHatwedoSec:hover {
    scale: 1.04;
}

.itemOfWHatwedoSec {
    flex: 2;
}

.itemOfWHatwedoSec {
    flex: 3;
}


.subcontainerOfWHatwedoSec1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 3;
}

.subcontainerOfWHatwedoSec2 {
    display: flex;
    flex: 1;
}

.con1,
.con2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 30px;
}

.itemOfWHatwedoSec3,
.itemOfWHatwedoSec6 {
    flex: 4;
}

.itemOfWHatwedoSec4,
.itemOfWHatwedoSec5 {
    flex: 2;
}

.itemOfWHatwedoSec7 {
    flex: 100%;
}


.img_name_post {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.img_name_post img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.img_name_post .name_post h3 {
    font-size: 27px;
    font-weight: 400;
    line-height: 35px;
    white-space: nowrap;
}

.img_name_post .name_post p {
    font-size: 22px;
    font-weight: 300;
    white-space: nowrap;
}

h4 {
    margin-top: 9px;
    font-size: 19px !important;
    line-height: 27px;
    font-weight: 600;
}

.text {
    margin-top: 15px;
    font-size: 16px;
}

/* WHAT WE DO SEC END */

/* SUBSCRIBE BUTTN   */
/* From Uiverse.io by niat786 */
.button22 {
    border-radius: .25rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    -webkit-clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 100%);
    clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 100%);
    height: 40px;
    font-size: 0.7rem;
    line-height: 14px;
    letter-spacing: 1.2px;
    transition: .2s .1s;
    background-image: linear-gradient(90deg, #1c1c1c, #6220fb);
    border: 0 solid;
    overflow: hidden;
}

.button22:hover {
    cursor: pointer;
    transition: all .3s ease-in;
    padding-right: 30px;
    padding-left: 30px;
}

/* SUBSCRIBE BUTTN END  */

/* What our client says  */
.windyLaxzy {
    background: #ededed;
    padding-bottom: 90px;
}

.windyLaxzy .title {
    padding-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.windyLaxzy .windyLaxzyCard_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.windyLaxzyCard_container .windyLaxzyCard {
    max-width: 410px;
    margin-top: 50px;
    border-radius: 20px;
    background: #ffffff;
    border: 0.5px solid #f1f5f9;
    padding: 15px;
    color: #f1f5f9;
    position: relative;
}

.user_content .name {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-weight: 600;
}

.user_content .post {
    font-size: 15px;
    color: #6e77d3;
    margin: 15px 0;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    left: 16px;
}

.user_content .post::before {
    content: "";
    height: 1px;
    width: 15px;
    background: #6c77d3;
    position: absolute;
    top: 50%;
    left: -16px;
}

.fa-solid {
    color: #ffc107;
}

.transparent {
    color: transparent;
}

.user_content .about {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    font-size: 13px;
}

.windyLaxzyCard .round_box {
    position: absolute;
    top: -20%;
    right: 10%;
    background: #1e293b !important;
    width: 130px;
    height: 130px;
    border: 1px solid #f1f5f9;
    border-radius: 50%;
}

.windyLaxzyCard .img_box {
    position: absolute;
    top: -20%;
    right: 10%;
}

.windyLaxzyCard .img_box img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding: 10px;
}

.windyLaxzyCard .squareBox {
    height: 90px;
    width: 136px;
    background: #ffffff;
    position: absolute;
    top: 0;
    right: 9%;
}

/* What our client says end  */

/* foooter  */
footer a:hover {
    text-decoration: underline;
}

footer {
    background-color: #272727;
    font-family: calibri;
    padding: 0 22px;
    padding-bottom: 21px;
    overflow: hidden;
}

.footer-content {
    /* max-width: 980px; */
    margin: 0 auto;
}

.footer-menu {
    padding-top: 21px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
}

.footer-col {
    /* width: 20%; */
    float: left;
}

input[type="checkbox"] {
    display: none;
}

.h3OfFooter {
    color: #082b51;
    font-size: 13px;
    position: relative;
    z-index: 1;
    margin-bottom: 6px;
    font-weight: 600 !important;
    margin-top: 0;
}

.product-list {
    padding: 0;
    list-style: none;
    margin: 0;
}

.product-list li {
    margin-bottom: 5px;
    line-height: 1;
}

.product-list a {
    color: #555;
    display: inline-block;
    font-size: 12px;
}

.product-list a:hover {
    color: #333;
}

input[type="checkbox"]:checked+.col-section .product-list {
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    visibility: visible;
    position: static;
    transform: none;
}

input[type="checkbox"]:checked+.col-section h3::after {
    transform: rotate(45deg) scale(1.08);
}

.footer-base {
    padding-top: 34px;
    padding-bottom: 21px;
    color: #888;
    font-size: 12px;
}

.footer-more-ways {
    margin-bottom: 7px;
    padding-bottom: 6px;
    border-bottom: 1px solid #d6d6d6;
}

.nowrap {
    white-space: nowrap;
}

@media only screen and (max-width: 900px) {

    footer {
        padding: 0 16px;
        padding-bottom: 21px;
    }

    .footer-col {
        width: 100%;
    }

    .item {
        border-bottom: 1px solid #d6d6d6;
    }

    h3 {
        padding: 10px 0;
        margin: 0;
        cursor: pointer;
    }

    h3::after {
        content: '+';
        float: right;
        font-size: 14px;
        font-weight: bold;
        margin-top: -2px;
        margin-right: 8px;
        transition: transform .3s ease
    }

    .product-list {
        visibility: hidden;
        position: absolute;
        transform: translateY(-100px);
        z-index: 1;
        padding: 5px 0 16px 0;
    }

    .product-list li {
        margin: 0;
    }

    .product-list a {
        display: block;
        padding: 6px 14px;
    }

    .footer-col {
        overflow: hidden;
    }
}

@media only screen and (min-width: 767px) {
    .item-padding-top {
        padding-top: 24px;
    }
}

.footer-legal-copyright {
    margin-right: 30px;
    float: left;
    margin-top: 3px;
}

.footer-legal-links {
    float: left;
}

.footer-legal-links a {
    border-right: 1px solid #d6d6d6;
    margin-right: 10px;
    padding-right: 12px;
    display: inline-block;
    margin-top: 3px;
    white-space: nowrap;
    color: #555;
}

.footer-legal-links a:last-child {
    border-right: none;
}

.footer-legal-links a:hover {
    color: #333;
}

/* FOOTER LOGO BEGINS HERE  */
.Subscribecontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 50px;
    border-radius: 10px;
    position: relative;
    border: 2px solid #000000;
}

.prefix {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: inherit;
    font-weight: 600;
    padding: 10px 0;
    background-color: #f0f0f0;
    border-radius: 10px 0px 0px 10px;
}

.myinput-link {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    font-weight: 500;
    border: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 10px;
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-size: 15px;
    text-align: center;
}

.link-icon {
    font-size: 16px;
    background-color: #fff;
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    position: relative;
}

.tooltip {
    position: absolute;
    top: -40px;
    right: -10px;
    opacity: 0;
    background-color: #ffe53b;
    background-image: linear-gradient(147deg, #f0f0f0 0%, #000000 74%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    pointer-events: none;
    letter-spacing: 0.5px;
    z-index: 10;
    width: max-content;
}

.tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #000000;
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    bottom: -15%;
    transition-duration: 0.3s;
}

.link-icon:hover .tooltip {
    opacity: 1;
    transition-duration: 0.3s;
}

.footerLogo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 0;
    background: #f2f2f23b;
    margin-bottom: 22px;
}

.footerLogo img {
    mix-blend-mode: exclusion;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    transition: ".2s ease-in-out"
}

.image-containerf:hover: {
    scale: 1.1;
}

@media (max-width: 900px) {
    .footerLogo {
        flex-direction: column;
        gap: 15px;
    }

    .Subscribecontainer {
        width: 90%;
    }
}

/* foooter end  */